* { 
	font-family: Veranda, Helvetica, sans-serif;
	color: #DDA0DD;
	text-align: center;
}

main {
	background-color: #E6E6FA;
	padding: 10px;
	margin: 10px;
}

footer {
	background-color: #E6E6FA;
	padding: 10px;
	margin: 10px;
}

nav { 
	background-color: #E6E6FA;
	padding: 10px;
	margin: 10px;
}
li {
	display: inline;
	padding: 5px;
}
